{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
   
    <title>Todo List</title>
  </head>
  <body>
  <h1 style="text-align: center;font-family:Lucida Console">Todo-List</h1>
  <div class="container mt-5">
   {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

    <form method="POST" class="row text-center" enctype="multipart/form-data">
    {% csrf_token %}
  {% comment %} <input type="text" class="col-sm-3" name="task" placeholder="New Task?"> {% endcomment %}
 
  <div class="col-sm-2">
        {% render_field form.task class="input" placeholder="New Task ?" %}
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        {{form.task_image}}
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        {{form.priority}}
    </div>
    <div class="col-sm-2">
        {{form.deadline}}
    </div>
    
        <button type="submit" value="Upload" class="col-sm-2">
       <i class="fa fa-plus-square" style="font-size:24px"></i>
        </button>
      

</br>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    
     {% if all_tasks %}
     
    {% for obj in all_tasks %}
      <tr class="table">
      {% if obj.task %}
          {% if obj.priority == "High" %}
          <td style="background-color:red;color:#E6E6FA;">{{ obj.task }} </td>
          {% elif obj.priority == "Moderate" %}
         <td style="background-color:green;color:#E6E6FA;">{{ obj.task }} </td>
          {% elif obj.priority == "Low" %}
         <td style="background-color:#FFA500;color:#E6E6FA;">{{ obj.task }} </td>
      {% endif %}
      {% else %}
          {% if obj.priority == "High" %}
         <td style="background-color:red"> <img src="{{ obj.task_image.url }}" height="50" width="100" alt="can open in a new tab"></td>
          {% elif obj.priority == "Moderate" %}
         <td style="background-color:green"> <img src="{{ obj.task_image.url }}" height="50" width="100" alt="can open in a new tab"></td>
          {% elif obj.priority == "Low" %}
         <td style="background-color:#FFA500"> <img src="{{ obj.task_image.url }}" height="50" width="100" alt="can open in a new tab"></td>
         {% endif %}
       {% endif %}
          
        {% if obj.priority == "High" %}
          <td style="color:red">{{ obj.priority }} </td>
          {% elif obj.priority == "Moderate" %}
         <td style="color:green">{{ obj.priority }} </td>
          {% elif obj.priority == "Low" %}
         <td style="color:#FFA500">{{ obj.priority }} </td>
      {% endif %}
        {% if obj.is_past_due %}
          <td style="background-color:#8B0000;color:white;">Overdue</td>
        {% else %}
          <td>{{obj.deadline}}</td>
        {% endif %}
          <td><a href="{% url 'edit_task' obj.id %}"><i class="fa fa-edit" style="font-size:28px"></i></a></td>
          <td><a href="{% url 'delete_task' obj.id %}"><i class="fa fa-trash-o" style="font-size:30px;color:red"></i></a></td>
      </tr>
       
    {% endfor %}
    
    {% endif %}
  
   
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="?pg=1">First</a></li>
    {% if all_tasks.has_previous %}
      <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
    {% if all_tasks.has_next %}
      <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}">Last</a></li>
  </ul>
</nav>

</form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>